* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-size: 3rem;
    background-color: rgb(229, 211, 211);
    color: rgb(39, 38, 38);
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1, p{
    text-align: center;
}

a {
    text-decoration: none;
    color: #3842c5;
}

a:hover {
    opacity: .85;
}